/* Сброс всех стилей */

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* ------------------------------- */

/* Для Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;

}

/* Для Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

a {
    text-decoration: none;
}

body {
    max-width: 1920px;
    width: 100%;
    margin: auto;
}

nav {
    background-color: rgb(28, 21, 6);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;

    position: fixed;
    top: 0;
    max-width: 1920px;
    width: 100%;
    z-index: 5;
}

.Logo a {
    font-size: 35px;
    color: #fff;
}

.Menu {
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Menu a {
    font-size: 25px;
    color: #fff;
    padding: 5px 2px;
    border-radius: 5px;
    transition: all 300ms ease;
}

.Menu a:hover {
    color: black;
    background-color: #fff;
}

main {
    margin-top: 80px;
}

.user-enter-profile {
    position: absolute;
    right: 20px;
}

/* ============================= */
.invalid-feedback {
    /* background-color: aqua; */
    color: rgb(172, 4, 4);
}


.form-login {
    background-color: burlywood;
    width: 500px;
    height: 300px;
    margin: 150px auto 50px auto;
    border-radius: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 400px;
}

.form p {
    margin: 10px 0;
}

.form-login label {
    font-size: 20px;
}

.aut-input {
    width: 100%;
    height: 35px;
    font-size: 18px;
}

.remember-and-button {
    display: flex;
    justify-content: space-between;
}

.login-button {
    cursor: pointer;
    width: 100px;
    height: 30px;
    border: 0;
    border-radius: 8px;
    background-color: #fff;
    font-size: 18px;
}

.form-register {
    background-color: burlywood;
    width: 500px;
    height: 455px;
    margin: 150px auto 50px auto;
    border-radius: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-register label {
    font-size: 20px;
}

.register-button {
    width: 220px;
    height: 35px;
    margin: 10px 85px;
    font-size: 18px;
    border: 0;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
}

/* ============================================== */
footer {
    position: absolute;
    margin-top: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    bottom: 0;
    background-color: rgb(28, 21, 6);
}

.social {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social__icon {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    margin: 10px;
    background-color: #f2f2f2;
    border-radius: 50%;
    box-shadow: 0px 0px 5px #00000080;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.social__icon i {
    font-size: 26px;
    color: #67798e;
    transition: all 0.3s ease;
    z-index: 1;
}

.social__icon:after {
    content: "";
    width: 70px;
    height: 70px;
    position: absolute;
    transform: translate(0, 70px);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.social__icon.instagram:after {
    background-color: #833AB4;
}

.social__icon.facebook:after {
    background-color: #3b5998;
}

.social__icon.git:after {
    background-color: #333;
}

.social__icon.twitter:after {
    background-color: #00acee;
}

.social__icon.linkedin:after {
    background-color: #0e76a8;
}

.social__icon:hover {
    transform: translateY(-4px);
    box-shadow: 0px 0px 15px #00000080;
}

.social__icon:hover i {
    color: #fff;
}

.social__icon:hover:after {
    transform: translate(0);
}

footer p {
    margin: 20px;
    text-align: center;
    color: #fff;
}

/* ======================================================= */


@media screen and (max-width: 1200px) {
    .Card {
        width: 30%;
    }
}

@media screen and (max-width: 800px) {
    .Card {
        width: 48%;
    }
}

@media screen and (max-width: 600px) {
    .Card {
        width: 90%;
    }
}