{% extends 'base.html' %} 

{% block title %} <title>Coffee Home</title> {% endblock %}

{% block content %} 
{{ super() }}
{% endblock %}

{% block main%}
<main>
  <div class="About-us"></div>
  <h2 class="head-product">Меню</h2>
  <div id="menu" class="Product">
    {% for el in data %}
    <article class="Card">
      <img class="Card-image" src="/static/images/{{ el.name_image }}" alt="" />
      <h3 class="Card-header">{{ el.title }}</h3>
      <span>
      <div class="Card-price">
        <p>{{ el.price }} ₴</p>
      </div>
      <button>Добавить в корзину</button>
      </span>

    </article>
    {% endfor %}
  </div>
</main>

{% endblock %}
