{% extends 'base.html' %} 
{% block title %} <title>registration</title> {% endblock %}
{% block content %} {{ super() }} {% endblock %} 
{% block main %}
<main>
    <h1 class="title">
      <p>
        Welcome {{ name }}!
      </p>
        <p>Почта: {{ email }}</p>
    </h1>
    <button class="add-product-btn">
      <a href="{{url_for('p.add_product')}}">Добавить товар</a>
    </button>
    <div id="menu" class="view-product">
      {% for el in data %}
      <article class="view-card">
        <img class="view-card-image" src="/static/images/{{ el.name_image }}" alt="" />
        <h3 class="view-card-header">Название товара: {{ el.title }}</h3>
        <div class="view-card_price">
          <p>Цена товара: {{ el.price }} ₴</p>
        </div>
        <!-- <button class="Card_btn">Изменить</button> -->
        <button>
          <a class="view-card_btn" href="{{url_for('p.add_product')}}">Изменить</a>
        </button>
      </article>
      {% endfor %}
    </div>
</main>
{% endblock %}
