<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
    {% endblock %}
    <link
      rel="stylesheet"
      href="{{ url_for('.static', filename='css/style.css') }}"
    />
    <link
    rel="stylesheet"
    href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
    crossorigin="anonymous"
  />
  </head>
  {% block content %}
  <body>
    <header>
      <nav>
        <h1 class="Logo"><a href="{{url_for('index')}}">COFFEE HOME</a></h1>
        <ul class="Menu">
          <li><a href="{{url_for('blue_posts.index')}}">Блог</a></li>
          <li><a href="#about-us-and-contact">Про нас</a></li>
          <li><a href="#about-us-and-contact">Контакти</a></li>
          <li class="user-enter-profile">
            {% if not current_user.is_authenticated %}
            <a href="{{ url_for('registration.login')}}">Войти</a>
            {% endif %} {% if current_user.is_authenticated %}
            <a href="{{ url_for('profile') }}" class="">Profile</a>
            <a href="{{ url_for('registration.logout') }}" class="">Выйти</a>
            {% endif %}
          </li>
        </ul>
      </nav>
    </header>
    {% block main %} {% endblock%}
    <footer id="about-us-and-contact">
      <div class="social">
        <a class="social__icon instagram" href="#">
          <i class="fab fa-instagram"></i>
        </a>
        <a class="social__icon facebook" href="#">
          <i class="fab fa-facebook-f"></i>
        </a>
        <<a class="social__icon git" href="https://github.com/l-Spook-l" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <a class="social__icon twitter" href="#">
          <i class="fab fa-twitter"></i>
        </a>
        <a class="social__icon linkedin" href="#">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
      <p>&copy;COFFEE HOME 2023 All rights reserved</p>
    </footer>
  </body>
  {% endblock %}
</html>
