{% extends 'registration/base_registration.html' %} {% block title %}<title>
  login
</title>
{% endblock %} {% block content %} {{ super() }} {%endblock %} {% block main %}
<main>
  {% for cat, msg in get_flashed_messages(True) %}
  <div class="flash {{cat}}">{{msg}}</div>
  {% endfor %}

  <form action="" method="post" class="form-contact">

    <p>
      <label for="">Email: </label><input type="email" name="email" id="" />
    </p>
    <p>
      <label for="">Пароль: </label
      ><input type="password" name="password" id="" />
    </p>
    <p>
      <input type="checkbox" name="remainme" id="remainme" />
      <label for="remainme">Запомнить меня</label>
    </p>
    <button type="submit">Войти</button>
    <p><a href="{{ url_for('registration.signup')}}">Регистрация</a></p>
  </form>
</main>
{% endblock %}




    <!--     <div class="field">
      <div class="control">
          <input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus="">
      </div>
  </div>

  <div class="field">
      <div class="control">
          <input class="input is-large" type="password" name="password" placeholder="Your Password">
      </div>
  </div>
  <div class="field">
      <label class="checkbox">
          <input type="checkbox">
          Remember me
      </label>
  </div>
  <button class="button is-block is-info is-large is-fullwidth">Login</button> -->