{% extends 'registration/base_registration.html' %} 
{% block title %} <title>registration</title> {% endblock %}
{% block content %} {{ super() }} {% endblock %} 
{% block main %}
<main>
    {% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{cat}}">{{msg}}</div>
    {% endfor %}
    <form action="" method="post" class="form-contact">
        <p><label for="">Имя: </label><input type="name" name="name" id=""></p>
        <p><label for="">Email: </label><input type="email" name="email" id=""></p>
        <p><label for="">Пароль: </label><input type="password" name="password" id=""></p>
        <p><label for="">Повтор пароля: </label><input type="password" name="password_2" id=""></p>
        <p><input type="submit" name="" id="" value="Регистрация"></p>
        <p><a href="{{ url_for('registration.login')}}">Я уже зарегистрирован</a></p>
    </form>
</main>
{% endblock %}
